@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
/*font-family: 'Courier Prime', monospace;*/
h1.title-mlsfront {font-family: 'Courier Prime', monospace;}
a.text-not-decorated {text-decoration: none;}
button.btn-conteudo-img a {transition: all 0.6s ease;}
button.btn-conteudo-img a:hover {color: #FFF !important; transition: all 0.8s ease;}
@media (max-width:990px) {
h1.title-mlsfront {margin-top: 30px;}
}